// Color
$main-color: #f09e11;

// Black and White
$black: #000;
$white: #fff;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$drop-shadow: rgba(0, 0, 0, 0.1);

// Other
$website-width: 1280px;
$bg-image: url('../img/showcase.jpg');
